[Unit]
SourcePath=/etc/rc.conf
Documentation=man:arch-modules-load(8)
Description=Load modules defined in rc.conf
DefaultDependencies=no
Before=systemd-modules-load.service

[Service]
ExecStart=/usr/lib/systemd/arch-modules-load
Type=oneshot
