[Unit]
Description=£{ETC}/rc.local.shutdown Compatibility
ConditionFileIsExecutable=£{ETC}/rc.local.shutdown
DefaultDependencies=no
After=rc-local.service basic.target
Before=shutdown.target

[Service]
Type=oneshot
ExecStart=£{ETC}/rc.local.shutdown
StandardInput=tty
RemainAfterExit=yes
